@model DevIO.App.ViewModels.ProdutoViewModel

@{
    ViewData["Title"] = "Excluir " + Model.Nome;
}

<div class="d-flex justify-content-between">
    <h1>@ViewData["Title"]</h1>
    <form asp-action="Delete" class="my-auto">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger my-auto" />
        <a href="javascript: window.history.back();" class="btn btn-secondary my-auto">Voltar</a>
    </form>
</div>
<hr />

<vc:Summary></vc:Summary>

<div>
    <dl class="row">
        <div class="col-md-3">
            <img src="~/imagens/@Model.Imagem" class="img-fluid w-100" />
        </div>
        <div class="col-md-9">
            <dt class="">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class="">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt class="">
                @Html.DisplayNameFor(model => model.Valor)
            </dt>
            <dd class="">
                @Model.Valor.ToString("C")
            </dd>
            <dt class="">
                @Html.DisplayNameFor(model => model.Ativo)
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.Ativo)
            </dd>
            <dt class="">
                @Html.DisplayNameFor(model => model.Fornecedor)
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.Fornecedor.Nome)
            </dd>
        </div>
    </dl>
</div>
