@model DevIO.App.ViewModels.FornecedorViewModel

@{
    ViewData["Title"] = "Excluir " + Model.Nome;
}

<div class="d-flex justify-content-between">
    <h1>@ViewData["Title"]</h1>
    <form asp-action="Delete" class="my-auto">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger my-auto" />
        <a href="javascript: window.history.back();" class="btn btn-secondary my-auto">Voltar</a>
    </form>
</div>
<hr />

<vc:Summary></vc:Summary>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Documento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Documento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
</div>
